.error_msg {
  color: red;
}

.publication {
  background-color: rgb(218, 209, 85);
  width: 1000px;
  max-width: 90%;
  margin: auto;
  margin-top:8px;
  margin-bottom:8px;
  padding: 10px;
  border-radius: 10px;
}

.publication h3 {
  display: inline-block;
  margin: 6px;
}

.gallery_photos {
  max-width: 700px;
  max-height: 500px;
  max-width: 90%;
}

.like {
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
}

.nb_likes {
  font-size: 20px;
  display:inline-block;
  margin-bottom: 0;
}

.pub_img input, button {
  padding: 10px 10px;
  width: auto;
  margin-right: 1px;
}

.pub_img input {
  width: 80%;
}

.pub_img button {
  font-size: 13px;
  padding: 8px 7px;
}

.comments_container {
  margin: auto;
  text-align: left;
  width: 700px;
  max-width: 90%;
  max-height: 250px;
  overflow-x: auto;
  word-break: break-all;
  word-break: break-word;
}

.comments {
  background-color: rgb(177, 72, 24);
  border: 1px solid #703770;
  margin: 1px;
  padding: 2px;
  color: rgb(252, 252, 252);
}

#load_more {
  min-width: 200px;
  line-height: 9px;
}
