.title
{
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.center_div {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
    border: 8px solid white;
    border-radius: 15px 15px;
    width: 600px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    padding: 20px;
    position: absolute;
    color: white;
}
.info
{
    margin: auto;
    margin-top: -30px;
    width: 600px;
    height: 670px;
    border: 4px solid white;
    font-size: 25px;
}


.divsubmit
{
    margin-top: 8px;
    margin-bottom: 15px;
    text-align: center;
    float: right;
    margin-top: -90px;
    margin-right: 30px;
}
.submitbutton
{
    width: 150px;
    height: 27px;
    border-radius: 15px 15px;
}
.submitbutton:hover
{
    background-color: lemonchiffon;
}
#instalogo
{
    margin-left: 80px;
    margin-top: 3px;
    margin-bottom: px; 
    width: 250px;
    height: 250px;
}

.bg-image
{
    background-image: url('../icons/user.jpg');
    width: 100%;
    height: 1000px;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.update_info
{
    margin-top: 20px;
    border: 3px solid white;
}

.title2
{
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
    /* margin-bottom: 30px; */
}

.divusername
{
    margin-top: 8px;
    margin-left: 5px;
}
#username
{
    /* float: right; */
    margin-right: 9px;
    width: 200px;
}
.divemail
{
    margin-top: 8px;
    margin-left: 5px;
}
#mail
{
    margin-right: 9px;
    width: 200px;
}
.divfname
{
    margin-top: 8px;
    margin-left: 5px;
}
#fname
{
    margin-right: 9px;
    width: 200px;
}
.divsname
{
    margin-top: 8px;
    margin-left: 5px;
}
#sname
{
    margin-right: 9px;
    width: 200px;
}
.divpass
{
    margin-top: 8px;
    margin-left: 5px;
}
#password
{
    margin-right: 9px;
    width: 200px;
}
.divrepass
{
    margin-top: 8px;
    margin-left: 5px;
}
#re-password
{
    margin-right: 9px;
    width: 200px;
}

.button_update
{
    margin-left: 120px;
}

.passform
{
    margin-top: 50px;
    margin-bottom: 20px;
}